body{
    color: gray;
    overflow: visible;
    height: 100%;
    background: radial-gradient(#003, #000);
    font-family: 'Open Sans';
    font-size: 18px;
}
h1{
    text-align: center;
    color: white;
    margin: 10px;
}
#header{
    background-color: rgb(97, 29, 94);
    overflow: hidden;
    margin: 10px;
    height: 50px;
    padding: 3px;
    border-radius: 18px;
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.shout_out{

    font-size: 29px;
    color:aliceblue;
    text-align: center;
    position: relative;

    
}

.s-o_Names {

    height: auto;
    border-style: groove;
    border-radius: 20px 80px;
    font-style: oblique;
    font-size: 19px;
    display: inline-block;
    text-align: left;
}

.s-o_Names a:hover, a:active {
    background-color: rgb(3, 80, 15);
}

.s-o_Names a:visited {
    text-decoration: none;
    color: rgb(180, 207, 57);
}
.s-o_Names a:link {
    text-decoration: none;
    color: rgb(180, 207, 57);
}

.exc{
    margin: 40px;
    padding: 3px;
    border-radius: 18px;
    text-align: center;
    font-size: 50px;
    color: yellowgreen;
    
}
.exlinks{
    color: white;
    text-align: center;
    
}
.exlinks a:link, a:visited {
    background-color: #1a7004;
    color: white;
    margin: 10px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
  }
  .exlinks a:hover, a:active {
    background-color: rgb(3, 80, 15);
  }
.scrpt{
    margin: 50px;
    padding: 3px;
    border-radius: 18px;
    text-align: center;
    font-size: 50px;
    color: yellowgreen;
}
.scrpts{
    color: white;
    text-align: center;
    
}
.scrpts a:link, a:visited {
    background-color: #1a7004;
    color: white;
    margin: 10px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
  }
.scrpts a:hover, a:active {
    background-color: rgb(3, 80, 15);
  }

footer{
    text-align: center;
    margin: 100px;
}
